.wrap {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 80px 1fr auto;
    gap: 8px;
    padding-bottom: 8px;

    .content {
        background-color: skyblue;
    }
}
