.wrap {
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    .search-input {
        flex: 1;
    }
}

.user-info {
    padding: 16px 12px 0px 12px;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 12px;

    .avatar-wrap {
        display: flex;
        align-items: center;
        justify-content: center;

        tui-avatar {
            margin: 0;
        }
    }

    .names {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        overflow-x: hidden;

        .username {
            color: var(--tui-text-03);
        }
    }
}
