.wrap {
    padding: 12px;
    box-sizing: border-box;

    .avatar {
        cursor: pointer;
        transition: 0.25s;

        &:hover {
            transition: 0.25s;
            filter: brightness(70%);
        }
    }
}
