<div class="wrap">
    <tui-hosted-dropdown [content]="dropdown">
        <tui-avatar class="avatar" [text]="userFullName" size="m" [rounded]="true"></tui-avatar>
    </tui-hosted-dropdown>
    <ng-template #dropdown>
        <tui-data-list>
            <ng-container *transloco="let t">
                <tui-opt-group [label]="userFullName">
                    <button tuiOption>{{ t('messenger.sidebar.header.menu.settings') }}</button>
                    <button tuiOption>{{ t('messenger.sidebar.header.menu.logout') }}</button>
                </tui-opt-group>
            </ng-container>
        </tui-data-list>
    </ng-template>

    <ng-container *transloco="let t">
        <tui-input class="search-input tui-space_left-3" tuiTextfieldSize="s" icon="tuiIconSearchLarge" [formControl]="searchControl">
            {{ t('messenger.sidebar.header.search') }}
            <input tuiTextfield type="email" />
        </tui-input>
    </ng-container>
</div>
