.wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        display: flex;
        flex-flow: column;
        align-items: center;

        .stepper {
            margin-right: -32px;
        }

        form {
            .avatar-wrap {
                display: flex;
                justify-content: center;
            }

            .success {
                position: relative;
                color: var(--tui-positive);
            }

            .error {
                color: var(--tui-negative);
            }

            .pending {
                color: var(--tui-text-03);
            }

            button {
                display: block;
                width: 300px;
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        box-sizing: border-box;

        .languages-wrap {
            width: 72px;
        }
    }
}
