<div class="wrap" #wrap>
    <ng-container *ngIf="messages?.length; else emptyChatMessage">
        <div class="notes-wrap">
            <tui-scrollbar #notesScroll class="notes-scroll" (scroll)="onScroll()">
                <div class="load-more-wrap" *ngIf="hasMoreMessages">
                    <tui-badge
                        [status]="isMessagesLoading ? 'neutral' : 'primary'"
                        [hoverable]="!isMessagesLoading"
                        [value]="isMessagesLoading ? 'Loading' : 'Load more'"
                        (click)="loadMoreMessages()"
                    >
                        <tui-svg src="tuiIconRefresh"></tui-svg>
                    </tui-badge>
                </div>

                <ng-container *ngFor="let message of messages; let i = index">
                    <div class="date-wrap" *ngIf="isNextDay(i)">
                        <tui-badge status="neutral" value="{{ message.date | date }}"> </tui-badge>
                    </div>
                    <qtt-note
                        [id]="i"
                        qttEnterViewportNotifier
                        [message]="message"
                        [isSelectingMode]="isSelectingMode"
                        (messageCopy)="onMessageCopied($event)"
                        (messageSelected)="onMessageSelected($event, message)"
                        (messageDeleted)="onMessageDeleted(message)"
                        (visibilityChange)="onVisibilityChange($event, message, i)"
                    ></qtt-note>
                </ng-container>

                <div #bottomAnchor></div>
            </tui-scrollbar>
        </div>
    </ng-container>

    <ng-template #emptyChatMessage>
        <div class="no-messages-wrap">
            <span class="tui-text_body-l">There are no messages here. Type anything!</span>
        </div>
    </ng-template>

    <tui-marker-icon
        class="scroll-down-btn"
        *ngIf="isScrollDownButtonVisible"
        mode="link"
        src="tuiIconChevronDownLarge"
        size="s"
        [@scrollDownButtonTrigger]
        (click)="scrollDown()"
    ></tui-marker-icon>
</div>
