<div class="wrap" #wrap>
    <ng-container *ngIf="messages?.length; else emptyChatMessage">
        <div class="notes-wrap">
            <tui-scrollbar class="notes-scroll" [scrollTop]="notesList.scrollHeight" (scroll)="onScroll()">
                <div class="notes-list" #notesList>
                    <div #bottomAnchor></div>
                    <ng-container *ngFor="let message of messages; let i = index">
                        <qtt-note
                            [message]="message"
                            [isSelectingMode]="isSelectingMode"
                            (messageCopy)="onMessageCopied($event)"
                            (messageSelected)="onMessageSelected($event, message)"
                            (messageDeleted)="onMessageDeleted(message)"
                        ></qtt-note>
                        <div class="date" *ngIf="isNextDay(i)" >
                            <tui-badge status="neutral" value="{{ message.date | date }}">
                            </tui-badge>
                        </div>
                    </ng-container>
                </div>
            </tui-scrollbar>
        </div>
    </ng-container>

    <ng-template #emptyChatMessage>
        <div class="no-messages-wrap">
            <span class="tui-text_body-l">There are no messages here. Type anything!</span>
        </div>
    </ng-template>

    <tui-marker-icon
        class="scroll-down-btn"
        *ngIf="scrollDownButtonVisible"
        mode="link"
        src="tuiIconChevronDownLarge"
        size="s"
        [@scrollDownButtonTrigger]
        (click)="scrollDown()"
    ></tui-marker-icon>
</div>
