.wrap {
    display: grid;
    grid-template-columns: minmax(280px, 20%) 1fr;
    height: 100%;

    .sidebar {
        height: 100%;
        overflow-y: hidden;
        background-color: var(--tui-base-02);
    }
}
