<div class="wrap">
    <!-- <div class="chat-info">
        <div class="chat-title tui-text_body-l">SOME title of somebody</div>
        <div class="status">
            <tui-badge status="success" value="online" size="s"></tui-badge>
        </div>
    </div> -->
    <div class="selecting-menu">
        <div class="select-info tui-text_body-l">Selected 10 messages</div>
        <div class="actions">
            <button tuiButton type="button" appearance="primary" class="tui-space_right-3">Delete</button>
            <button tuiButton type="button" appearance="cancel">Cancel</button>
        </div>
    </div>
</div>
