<div class="wrap" *ngIf="ids$ | async as ids">
    <ng-template #chatInfo>
        <div class="chat-info">
            <div class="chat-title tui-text_body-l">SOME title of somebody</div>
            <div class="status">
                <tui-badge status="success" value="online" size="s"></tui-badge>
            </div>
        </div>
    </ng-template>
    <div class="selecting-menu" *ngIf="ids.length; else chatInfo">
        <div class="select-info tui-text_body-l">Selected {{ ids?.length }} messages</div>
        <div class="actions">
            <button tuiButton type="button" appearance="primary" class="tui-space_right-3">Delete</button>
            <button tuiButton type="button" appearance="cancel" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>
