.wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px 0px 16px;
    background-color: var(--tui-base-02);
    border-left: 1px solid var(--tui-base-01);

    .status {
        color: var(--tui-text-03);
    }

    .selecting-menu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

