<div class="wrap">
    <div class="content">
        <tui-stepper [(activeItemIndex)]="activeIndex" class="stepper tui-space_bottom-5">
            <button *ngFor="let step of getStepper; let i = index" tuiStep [state]="getState(i)">{{ step }}</button>
        </tui-stepper>
        <form [formGroup]="signUpForm">
            <ng-container *transloco="let t" [ngSwitch]="activeIndex">
                <qtt-sign-up-form
                    *ngSwitchCase="0"
                    [disabled]="signUpForm.invalid"
                    [title]="t('signIn.signUp.username.title')"
                    (completed)="onCompleted()"
                >
                    <tui-input
                        formControlName="username"
                        tuiTextfieldSize="l"
                        [tuiTextfieldCustomContent]="
                            signUpForm.get('username')?.hasError('usernameAlreadyExists') ? error : success
                        "
                    >
                        {{ t('signIn.signUp.username.placeholder') }}
                        <input tuiTextfield />
                    </tui-input>
                    <tui-error formControlName="username" [error]="[] | tuiFieldError | async"></tui-error>

                    <ng-template #success>
                        <tui-svg src="tuiIconCheckLarge" class="success tui-space_left-3"></tui-svg>
                    </ng-template>
                    <ng-template #error>
                        <tui-svg src="tuiIconAlertCircleLarge" class="error tui-space_left-3"></tui-svg>
                    </ng-template>
                </qtt-sign-up-form>
                <qtt-sign-up-form
                    *ngSwitchCase="1"
                    [disabled]="signUpForm.invalid"
                    [title]="t('signIn.signUp.name.title')"
                    (completed)="onCompleted()"
                >
                    <tui-input formControlName="firstName" tuiTextfieldSize="l">
                        {{ t('signIn.signUp.name.firstName') }}
                        <input tuiTextfield />
                    </tui-input>
                    <tui-error formControlName="firstName" [error]="[] | tuiFieldError | async"></tui-error>

                    <tui-input class="tui-space_top-2" formControlName="lastName" tuiTextfieldSize="l">
                        {{ t('signIn.signUp.name.lastName') }}
                        <input tuiTextfield />
                    </tui-input>
                    <tui-error formControlName="lastName" [error]="[] | tuiFieldError | async"></tui-error>
                </qtt-sign-up-form>
                <qtt-sign-up-form
                    *ngSwitchCase="2"
                    [title]="t('signIn.signUp.avatar.title')"
                    [isFinish]="true"
                    [disabled]="signUpForm.invalid"
                    (completed)="onCompleted()"
                >
                    <div class="avatar-wrap tui-space_bottom-3">
                        <tui-avatar [text]="getFullName" size="xxl" [autoColor]="false" [rounded]="true"></tui-avatar>
                    </div>
                </qtt-sign-up-form>
            </ng-container>
        </form>
    </div>
</div>
