<div class="wrap">
    <hr />
    <div class="content">
        <div class="languages-wrap">
            <tui-select tuiTextfieldSize="s" [formControl]="languagesControl">
                Languages
                <input tuiTextfield />
                <tui-data-list-wrapper *tuiDataList [items]="languages"></tui-data-list-wrapper>
            </tui-select>
        </div>
        <div class="text tui-space_left-3">
            <span>
                Quetta the messenger
            </span>
        </div>
    </div>
</div>
