.wrap {
    width: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;

    .title, .subtitle {
        text-align: center;
        max-width: 100%;
    }

    .content {
        width: 100%;
    }
}
