.wrap {
    .note {
        width: fit-content;
        max-width: 30%;
        padding: 16px;
        background-color: var(--tui-base-02);
        border-radius: var(--tui-radius-m);

        &.own-message {
            background-color: var(--tui-primary-active);

            .info {
                .status, .time {
                    color: var(--tui-text-03);
                }
            }
        }

        .info {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            float: right;
            margin-top: -12px;
            margin-right: -12px;

            .status {
                color: var(--tui-primary);
            }

            .time {
                color: var(--tui-text-03);
            }
        }
    }
}
