<div class="wrap" [tuiDropdownContext]="noteContext" [class.selected]="message.isSelected">
    <div class="tui-space_right-4" [@selection]="isSelectingMode ? 'expanded' : 'collapsed'">
        <tui-checkbox size="l" [formControl]="selectControl"></tui-checkbox>
    </div>
    <div class="note" [class.own-message]="isUserOwner() | async">
        <span class="tui-text_body-m">{{ message.text }}</span>
        <span class="info tui-text_body-xs">
            <div class="time">{{ message.date | date: 'H:mm' }}</div>
            <tui-svg [src]="getStatus()" class="status"></tui-svg>
        </span>
    </div>
</div>

<ng-template #noteContext let-close="close" let-activeZone="activeZone">
    <tui-data-list role="menu" tuiDataListDropdownManager class="context-menu" [tuiActiveZoneParent]="activeZone">
        <button class="context-menu-item" tuiOption (click)="select()">
            <tui-svg class="context-menu-item-icon" src="tuiIconCheckCircleLarge"></tui-svg>
            <span>Select</span>
        </button>
        <button class="context-menu-item" tuiOption (click)="copyText()">
            <tui-svg class="context-menu-item-icon" src="tuiIconCopyLarge"></tui-svg>
            <span>Copy</span>
        </button>
        <button class="context-menu-item" tuiOption (click)="copyText()">
            <tui-svg class="context-menu-item-icon" src="tuiIconEditLarge"></tui-svg>
            <span>Edit</span>
        </button>
        <button class="context-menu-item" tuiOption (click)="copyText()">
            <tui-svg class="context-menu-item-icon" src="tuiIconTrashLarge"></tui-svg>
            <span>Delete</span>
        </button>
    </tui-data-list>
</ng-template>
