<div class="wrap">
    <div class="content">
        <tui-stepper [activeItemIndex]="1" class="stepper tui-space_bottom-5">
            <button tuiStep state="pass">Username</button>
            <button tuiStep>Name</button>
            <button tuiStep>Avatar</button>
        </tui-stepper>
        <form [formGroup]="signOnForm">
            <ng-container *transloco="let t">
                <qtt-sign-on-form *ngIf="false" [title]="t('signIn.signOn.username.title')">
                    <tui-input formControlName="username" tuiTextfieldSize="l">
                        {{ t('signIn.signOn.username.placeholder') }}
                        <input tuiTextfield type="email" />
                    </tui-input>
                </qtt-sign-on-form>
                <qtt-sign-on-form [title]="t('signIn.signOn.name.title')">
                    <tui-input formControlName="firstName" tuiTextfieldSize="l">
                        {{ t('signIn.signOn.name.firstName') }}
                        <input tuiTextfield type="email" />
                    </tui-input>
                    <tui-input class="tui-space_top-2" formControlName="lastName" tuiTextfieldSize="l">
                        {{ t('signIn.signOn.name.lastName') }}
                        <input tuiTextfield type="email" />
                    </tui-input>
                </qtt-sign-on-form>
            </ng-container>
        </form>
    </div>
</div>
