<div class="wrap">
    <ng-container *transloco="let t">
        <form class="messages-form" [formGroup]="messageForm">
            <tui-text-area formControlName="text" class="input" [expandable]="true" [rows]="8">
                {{ t('messenger.chat.placeholder') }}
            </tui-text-area>
            <button
                class="send-message-btn tui-space_left-1"
                tuiIconButton
                type="button"
                icon="tuiIconCommentLarge"
                [disabled]="messageForm.invalid"
                (click)="sendMessage()"
            ></button>
        </form>
    </ng-container>
</div>
